html {
  scroll-snap-type: y mandatory;
}

.App {
  background-color: #242424;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__videos {
  width: 80%;
  max-width: 500px;
  height: 100%;
  border: 1px solid #242424;
  border-radius: 20px;
  max-height: 800px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

.app__videos::-webkit-scrollbar{
  display: none;
}
.app__videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}